{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/css/style.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

        <title>Onyishi's Portfolio</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">Onyishi's portfolio</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I am <span class="home__title-color">Onyishi James</span><br>Backend Developer</h1>

                     <a href="../static/doc/jm.pdf" class="button">Download resume</a>         <a href="#contact" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/james-onyishi/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://www.github.com/jamido1/" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">
                    <img src="../static/image/gg.jpg" style="height:400px; border-radius: 60%; border: 5px solid #4070F4;" alt="This is my profile picture">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="static/image/gg.jpg" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">I am <span class="home__title-color">Onyishi James</span> alias Jamido </h2>
                        <p class="about__text">I am  a backend developer and a google scholar currently undergoing lectures to become an associate cloud engineer, I have experience in using python and java to deliver working projects . I love to work with a focused team because I am most productive when the task ahead is clear and I am not being micro-managed; I prioritize learning and self-development because I can only offer what I know .</p>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">
                    <div>
                        <h2 class="skills__subtitle">Professional Skills</h2>
                        <p class="skills__text">Apart from the major technical skills that I listed in the graphs below, I am also good in team building, I have good communication and presentation skills, I love seeing tasks through to completion. </p>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">HTML5</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-google-cloud skills__icon'></i>
                                <span class="skills__name">GOOGLE CLOUD</span>
                            </div>
                            <div class="skills__bar skills__gcl">

                            </div>
                            <div>
                                <span class="skills__percentage">55%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-javascript skills__icon' ></i>
                                <span class="skills__name">JAVASCRIPT</span>
                            </div>
                            <div class="skills__bar skills__js">

                            </div>
                            <div>
                                <span class="skills__percentage">45%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-django skills__icon'></i>
                                <span class="skills__name">DJANGO</span>
                            </div>
                            <div class="skills__bar skills__dj">

                            </div>
                            <div>
                                <span class="skills__percentage">55%</span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-python skills__icon'></i>
                                <span class="skills__name">PYTHON</span>
                            </div>
                            <div class="skills__bar skills__py">

                            </div>
                            <div>
                                <span class="skills__percentage">65%</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img src="static/image/b3.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="static/image/b4.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="static/image/b5.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="static/image/b6.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="static/image/b5.jpg" alt="">
                    </div>
                    <div class="work__img">
                        <img src="static/image/b6.JPG" alt="">
                    </div>
                    <div class="work__img">
                        <img src="static/image/b4.JPG" alt="">
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form method="post" class="was-validated">
                        {% csrf_token %}
                        <input name="name" type="text" placeholder="Name" class="contact__input" required>
                        <input name="email" type="email" placeholder="Email" class="contact__input" required>
                        <textarea name="message" id="" cols="0" placeholder="Write here........" rows="6" class="contact__input" required></textarea>
                        <input type="submit" value="Submit" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Jamido</p>
            <div class="footer__social">
                <a href="https://www.facebook.com/james-christopher/" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="https://www.instagram.com/lightercustodian/" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://www.twitter.com/jamido/" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <div class="col-xs-8 col-md-4 profile-picture">
        <img src="../static/image/hng.png" style="height:40px; border-radius: 5%; border: 0px solid #4070F4;alt=">

        </div>
            <p>&#169; 2021 copyright all right reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="static/js/main.js"></script>
    </body>
    </html>